@page
@model EvetWebsite.Areas.Admin.Pages.PreorderPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Details on Pre Order Form on Gender and Development in Nigeria: Concepts, Issues and Strategies by Prof. O.J Para-Mallam, mni</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreorderForm.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreorderForm.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreorderForm.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreorderForm.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreorderForm.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreorderForm.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreorderForm.PhoneNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreorderForm.PhoneNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreorderForm.StreetAddress)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreorderForm.StreetAddress)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreorderForm.City)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreorderForm.City)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreorderForm.State)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreorderForm.State)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreorderForm.ZipCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreorderForm.ZipCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreorderForm.Country)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreorderForm.Country)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreorderForm.Quantity)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreorderForm.Quantity)
                    </dd>
                </dl>
            </div>

            <a asp-page="./Edit" asp-route-id="@Model.PreorderForm.Id" class="btn bg-gradient-warning btn-sm" style="float:right;">Update</a>
             <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

        </div>
    </div>


    <!-- /.row -->
</div>
<!-- /.card-body -->
<div class="card-footer">
</div> 