@page
@model EvetWebsite.Areas.Admin.Pages.IReservation.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DETAIL RESERVATION</h3>

    </div>
    <!-- /.card-header -->
    @if(TempData["success"] != null)
            {
                <div class="alert alert-success">
                    <h5>@TempData["success"]</h5>
                </div>
            }
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Reservation.Fullname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Reservation.Fullname)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Reservation.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Reservation.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Reservation.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Reservation.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Reservation.Office)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Reservation.Office)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Reservation.ReservationType)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Reservation.ReservationType.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Reservation.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Reservation.Date)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Reservation.Note)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Reservation.Note)
                    </dd>
                </dl>
            </div>

            <a asp-page="./Edit" asp-route-id="@Model.Reservation.Id" class="btn bg-gradient-warning btn-sm" style="float:right;">Update</a>
            <a asp-page="./Verified" asp-route-id="@Model.Reservation.Id" class="btn bg-gradient-warning btn-sm" style="float:right;">Verify Reservation</a>
            <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

        </div>
    </div>


    <!-- /.row -->
</div>
<!-- /.card-body -->
<div class="card-footer">
</div> 