@page
@model EvetWebsite.Areas.Admin.Pages.IReservation.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">RESERVATIONS</h3>

        @if (User.Identity.IsAuthenticated && User.IsInRole("mSuperAdmin"))
        {
            <a asp-page="./Create" class="btn bg-gradient-warning btn-sm" style="float:right;">Add New</a>
        }
    </div>
    <div class="card-header">
        <div class="btn-group">
            <button class="btn btn-primary">
                Reservations Made<br />
                (@Model.Reservation.Count())
            </button>
            <button class="btn btn-success">
                Verified Reservations<br />
                (@Model.Reservation.Where(x => x.VerifiedReservation == true).Count())
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reservation[0].Fullname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reservation[0].Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reservation[0].Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reservation[0].Office)
                        </th>
                        <th>
                            Hotel
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reservation[0].Date)
                        </th>
                        <th>
                            Verified Reservation
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.Reservation)
                    {
                        <tr>

                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fullname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Office)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReservationType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VerifiedReservation)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
