@page
@model EvetWebsite.Areas.Admin.Pages.IRsvp.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DELETE RSVP</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>RSVP</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Fullname)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Fullname)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Phone)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Phone)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Office)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Office)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Date)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Date)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Note)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Note)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Present)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Present)
                        </dd>
                    </dl>

                    <form method="post">
                        <input type="hidden" asp-for="RSVP.Id" />
                        <input type="submit" value="Delete" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </form>

                </div>
            </div>


            <!-- /.row -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
    </div>
