@page
@model EvetWebsite.Areas.Admin.Pages.IRsvp.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DETAILS RSVP</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h4>RSVP</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Fullname)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Fullname)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Phone)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Phone)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Office)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Office)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Date)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Date)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Note)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Note)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Present)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Present)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RSVP.Token)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RSVP.Token)
                        </dd>
                        <dt class="col-sm-2">
                            Invite
                        </dt>
                        <dd class="col-sm-10">
                            <img class="" src="@Model.RSVP.ImageUrl" />
                        </dd>
                    </dl>
                </div>

                <a asp-page="./Edit" asp-route-id="@Model.RSVP.Id" class="btn bg-gradient-warning btn-sm" style="float:right;">Update</a>
                <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>
                <form method="post">
                    <input type="hidden" asp-for="RSVP.Id" />
                    <input type="hidden" asp-for="RSVP.Token" />
                    <input type="submit" value="Resend IV" class="btn btn-primary" />

                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
