@page
@model EvetWebsite.Areas.Admin.Pages.ICommittee.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">DETAILS COMMITTEE</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Committee.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Committee.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Committee.Office)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Committee.Office)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Committee.CommitteeCategory)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Committee.CommitteeCategory.Id)
                    </dd>
                </dl>
            </div>

            <a asp-page="./Edit" asp-route-id="@Model.Committee.Id" class="btn bg-gradient-warning btn-sm" style="float:right;">Update</a>
            <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

        </div>
    </div>


    <!-- /.row -->
</div>
<!-- /.card-body -->
<div class="card-footer">
</div> 